@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

body {
  background-color: #232323;
  color: #fafafa;
}

header {
  padding: 3vh 0;
}

h1 {
  font-family: "Lobster", cursive;
  color: #f68b24;
}
