@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

body {
  background-color: #232323;
  color: #fafafa;
}

video {
  vertical-align: middle;
}

header {
  padding: 3vh 0;
}

h1 {
  font-family: "Lobster", cursive;
  color: #f68b24;
}

.gif-holder {
  display: inline-block;
  position: relative;
}

.gif-overlay {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 250ms ease-in-out;
}

.gif-holder:hover .gif-overlay {
  opacity: 1;
}

.gif-tools {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.btn-orange {
  color: #fff;
  background-color: #f68b24;
  border-color: #f68b24;
}

.page-link,
.page-link:hover {
  color: #222;
}
