@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

body {
  background-color: #232323;
  color: #fafafa;
}

video {
  vertical-align: middle;
}

header {
  padding: 3vh 0;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 3.5em;
  color: #f68b24;
}

#mainContentHolder {
  min-height: 40vh;
  background-color: #333;
  border-radius: 5px;
  margin: 3vh 0;
}

#resultsReport {
  position: relative;
  padding: 2vh 0;
  margin: 1vh 0;
  color: #777;
}

.resuts-icon-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: #777;
}

#resultsHolder {
  text-align: center;
}

.gif-holder {
  display: inline-block;
  position: relative;
  margin: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.gif-overlay {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 250ms ease-in-out;
}

.gif-holder:hover .gif-overlay {
  opacity: 1;
}

.gif-tools {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.btn-gif-action-icon {
  margin-left: 3px;
  display: none;
}

.btn-gif-action-icon.gif-action-icon-visible {
  display: inline-block;
}

#paginationHolder {
  margin-bottom: 5vh;
}

.btn-orange {
  color: #fff;
  background-color: #f68b24;
  border-color: #f68b24;
}

.page-link,
.page-link:hover {
  color: #222;
}

.page-link.active {
  background-color: #f68b24;
  color: #fff;
}

footer {
  min-height: 25vh;
  background-color: #111;
  color: #f68b24;
  padding: 25px 0;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 2.5em;
  }

  .resuts-icon-holder {
    font-size: 1.5em;
  }
}
